<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>very cool</h1>
    <img src="images/img.jpeg" alt="">
    <h1>monkey</h1>
  </body>
</html>
